pkgbase = slack-desktop-wayland
	pkgdesc = Slack Desktop (Beta) for Linux with Wayland Support
	pkgver = 4.38.115
	pkgrel = 1
	url = https://slack.com/downloads
	arch = x86_64
	license = custom
	depends = electron
	depends = gtk3
	depends = libsecret
	depends = libxss
	depends = nss
	depends = pipewire
	depends = xdg-utils
	depends = xdg-desktop-portal
	optdepends = libappindicator-gtk3: Systray indicator support
	optdepends = org.freedesktop.secrets: Keyring password store support
	optdepends = xdg-desktop-portal-gnome: xdg-desktop-portal support for GNOME
	optdepends = xdg-desktop-portal-gtk: xdg-desktop-portal support for GNOME and GTK
	optdepends = xdg-desktop-portal-kde: xdg-desktop-portal support for KDE
	optdepends = xdg-desktop-portal-lxqt: xdg-desktop-portal support for LXQt
	optdepends = xdg-desktop-portal-wlr: xdg-desktop-portal support for wlroots-based Wayland compositors
	provides = slack-desktop
	conflicts = slack-desktop
	conflicts = slack-electron
	noextract = slack-desktop-4.38.115-amd64.deb
	source = slack-desktop-wayland-4.38.115.deb::https://downloads.slack-edge.com/releases/linux/4.38.115/prod/x64/slack-desktop-4.38.115-amd64.deb
	source = slack.sh
	b2sums = 6e5d4b8de0c3897650c8cb996008408c907987c08507f3a6ed595cd9ee3a6ac9196b6c4ca3e1b23cc64a118fcf986a5ab55263307d3353ab76d1c660230c6ee3
	b2sums = 8bd96010498a259259c0580b4a1900079af839fad0f036902aaac39731ecc79fdc7d35d059d5b9c1b330edd02d34414b9140262e60b52faacb19747ff2962f82

pkgname = slack-desktop-wayland
